:root {
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-dark-rasperry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-gray: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

@font-face {
  font-family: Outfit;
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: Young-Sheriff;
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

body {
  background-color: var(--eggshell);
  font-family: Outfit;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--wenge-brown);
}

.main-container {
  background-color: var(--white);
  width: 46rem;
  border-radius: 24px;

  img {
    width: 41rem;
    border-radius: 12px;
    margin: 40px 40px 0 40px;
  }
}
.container > * {
  margin: 2rem 2.5rem;
}
.container {
  h2 {
    font-family: Young-Sheriff;
    font-size: 28px;
    font-weight: 400;
    color: var(--primary-nutmeg);
    margin-bottom: 1.5rem;
  }
  .food-description {
    h1 {
      font-family: Young-Sheriff;
      font-size: 40px;
      margin: 1.5rem 0;
      color: var(--dark-charcoal);
      font-weight: 400;
    }
    p {
      font-weight: 400;
      line-height: 150%;
    }
  }

  .container-preparation {
    background-color: var(--rose-white);
    padding: 1.5rem;
    border-radius: 12px;

    h3 {
      color: var(--primary-dark-rasperry);
      font-size: 20px;
      margin: 0;
    }
    ul {
      padding-left: 1.5rem;
      line-height: 2;
      margin: 1rem 0 0 0;
      b {
        margin-left: 1rem;
      }
    }
  }

  .ingredients {
    ul {
      line-height: 2;
      padding-left: 1.2rem;
    }
    li {
      padding-left: 1.5rem;
    }
  }

  .fraction {
    background-color: var(--light-gray);
    height: 1px;
  }

  .instructions {
    ul {
      list-style-type: decimal;
      padding-left: 1rem;
      line-height: 2;
    }
    li {
      color: var(--wenge-brown);
      padding-left: 1rem;
      margin: 1rem;
    }
    li::marker {
      color: var(--primary-nutmeg);
      font-weight: bold;
    }
  }

  .nutrition {
    p {
      margin-bottom: 1.5rem;
    }
    table {
      line-height: 3rem;
      td {
        padding-left: 2rem;
        width: 18rem;
      }
      .fraction {
        background-color: var(--light-gray);
      }
      b {
        color: var(--primary-nutmeg);
      }
    }
  }
}

.attribution {
  width: 100%;
  text-align: center;
  a {
    text-decoration: none;
    color: var(--primary-nutmeg);
  }
}

@media (max-width: 640px) {
  .main-container {
    width: 350px;
    margin: 0;
    img {
      width: 350px;
      border-radius: 0;
      padding: 0;
    }
    .container {
      margin-right: 0;
      .food-description h1 {
        font-size: 28px;
        line-height: 1;
      }
      .container-preparation {
        width: 280px;
      }
    }
  }
}
